.spin {
  animation: spin 250ms inifinite;
}

.fade-in {
  animation: fade-in 350ms linear;
}

.fade-out {
  animation: fade-out 350ms linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
