.spin {
  animation: spin 250ms inifinite;
}

.fade-in {
  animation: fade-in 350ms ease-out;
}

.fade-out {
  animation: fade-out 350ms ease-out;
}
.fade-in-out {
  animation: fade-in-out 500ms ease-in;
}
.scale-in-out {
  animation: scale-in-out 500ms ease;
}
.bubble {
  animation: fade-in 550ms ease;
}

@keyframes bubble {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(15%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scale-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
